<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue Project</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <h1>Vue Js</h1>

    <!-- <div id="app">
      <div v-if="showInfo">
        <p>Name = {{name}}</p>
        <p>Age = {{age}}</p>
        <p>Gender = {{gender}}</p>
      </div>
      <button v-on:click="showInfo = false">Hide Info</button>
      <button @click="showInfo = true">Show Info</button>
    </div> -->

    <!-- <div id="app">
      <div v-if="showInfo">
        <p>Name = {{name}}</p>
        <p>Age = {{age}}</p>
        <p>Gender = {{gender}}</p>
      </div>
      <button @click="showInfo=!showInfo">Toggle Info</button>
    </div> -->


    <div id="app">
      <div v-if="showInfo">
        <p>Name = {{name}}</p>
        <p>Age = {{age}}</p>
        <p>Gender = {{gender}}</p>
      </div>
      <button @click="showInfo=!showInfo">
        <span v-if="showInfo">Hide Info</span>
        <span v-if="!showInfo">Show Info</span>
      </button>
    </div>
    <script src="vue.js"></script>
  </body>
</html>
