<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Js for in loop</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      li {
        list-style: none;
      }
      .favourite {
        background: #6de3f7;
        color: red;
        font-size: large;
        font-family: monospace;
      }

      .bg {
        background: #6de3f7;
        color: red;
        font-size: large;
        font-family: monospace;
        text-align: center;
        transition: all 3s;
      }
    </style>
  </head>
  <body>
    <h1>Books</h1>
    <!-- Fist Method -->

    <!-- <div id="app">
      <div v-if="showIcon">
        <ul v-for="book in books">
          <li v-bind:class="{favourite:book.isFav}" @click="book.isFav=!book.isFav">
            <img :src="book.img" width="300px" alt="" />
            <p>Title:{{book.title}}</p>
            <p>Author:{{book.author}}</p>
            <p>Age: {{book.age}}</p>
            <p>Gender:{{book.gender}}</p>
            <a :href="link">Book link</a>
          </li>
        </ul>
      </div>
      <button @click="showIcon=!showIcon">
        <span v-if="showIcon">Hide</span>
        <span v-if="!showIcon">Show</span>
      </button>
    </div> -->

    <!-- Second Method -->
    <div id="app">
      <div v-if="bookInfo">
        <ul v-for="book in books">
          <li :class="{bg:book.isFav}" @click="fav(book)" >
            <img v-bind:src="book.img"  width="300px" alt="hacker">
            <p>Title of the book:{{book.title}}</p>
            <p>Author Name:{{book.author}}</p>
            <p>Age:{{book.age}}</p>
            <p>Gender:{{book.gender}}</p>
            <hr />
          </li>
        </ul>
      </div>
      <button @click="bookInfo=!bookInfo">
        <span v-if="bookInfo">Hide</span>
        <span v-if="!bookInfo">Show</span>
      </button>
    </div>
    <script src="vue.js"></script>
  </body>
</html>
